/* Page modifications */

header {
  position: sticky;
  top: 0;
}

.giveaway__row-outer-wrap:has(.giveaway__row-inner-wrap.is-faded) {
  display: none;
}

/* Injected Elements */

.AdditionalInfoElement {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 4px;
  width: 120px;
  height: 14px;
  background-color: #636363;
  border-radius: 2px;
}

.AdditionalInfoElement--Loaded {
  width: auto;
  background-color: transparent;
}
